<!doctype html><html lang="en"><head><meta charset="utf-8"><meta name="author" content="<%= author %>"><title><%= title %></title><meta name="description" content="<%= description %>"><meta name="keywords" content="<%= keywords %>"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no"><link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"><link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png"><link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"><link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"><link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"><meta name="theme-color" content="#1E1E1E"><link href="/css/bundle.8fe56213f54a767860cd.css" rel="stylesheet"><link rel="manifest" href="/manifest.4aa7768517a92254474bf67090b301ec.json" /></head><body class="bp3-dark"><noscript><div>You need to enable JavaScript to run this app.</div></noscript><div id="app-root"></div><script>window.preloadedState = '<%- JSON.stringify({
        application: {
            info: {
                name: title,
                description: description,
                version: version,
                author: author
            }
        }
    }) %>'</script><script src="/bundle.8fe56213f54a767860cd.js"></script></body></html>